<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Patient Information - <!-- TODO: Put patient name --></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Basheer Becerra" />

<!-- Google Fonts -->
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
	rel='stylesheet' type='text/css'></link>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<link href="../static/css/navbar-fixed-side.css"
	th:href="@{/css/navbar-fixed-side.css}" rel="stylesheet"></link>
<link href="../static/css/custom.css" th:href="@{/css/custom.css}"
	rel="stylesheet"></link>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-2">
				<nav class="navbar navbar-inverse navbar-fixed-side">
					<div class="container">
						<div class="navbar-header">
							<button class="navbar-toggle" data-target=".navbar-collapse"
								data-toggle="collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="./">Basheer Becerra</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">Patients <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Basheer Becerra</a></li>
									</ul></li>
							</ul>
							<p class="navbar-text">
								Muse Monitor by <a href="http://www.basheerbecerra.com">Basheer
									Becerra</a>
							</p>
						</div>
					</div>
				</nav>
			</div>
			<div class="col-sm-9 col-lg-10">
				<div class="row">
					<a href="patient.html" th:href="@{/patients/123456}">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-3 text-center">
										<img src="../static/img/profile.png"
											th:src="@{/img/profile.png}" class="profile-img" />
									</div>
									<div class="col-sm-5">
										<h1>Basheer Becerra</h1>
										<p style="font-size: 1.2em;">Room A104</p>
									</div>
									<div class="col-sm-4 text-center">
										<div class="row">
											<div class="col-sm-6">Mental Status</div>
											<div class="col-sm-6">Physical Status</div>
										</div>
										<div class="row" style="padding-top: 10px;">
											<div class="col-sm-6">
												<span class="glyphicon glyphicon-ok-circle muse-indicator"
													id="mental-indicator" aria-hidden="true"></span>
											</div>
											<div class="col-sm-6">
												<span class="glyphicon glyphicon-ok-circle muse-indicator"
													id="physical-indicator" aria-hidden="true"></span>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</a>
				</div>


			</div>

		</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		src="../static/node_modules/webstomp-client/dist/webstomp.min.js"
		th:src="@{/node_modules/webstomp-client/dist/webstomp.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
	<script type="text/javascript">
		// TODO: Heartbeat implementation
		var url = "wss://muse-monitor-socketserver.herokuapp.com/muse-ws";
		var clients = {
			a : webstomp.client(url)
		}

		var jsonEncoder = {
			encode : function(msg) {
				return JSON.stringify(msg);
			},
			decode : function(msg) {
				return JSON.parse(msg);
			}
		};
		var encoder = {
			encode : jsonEncoder.encode,
			decode : jsonEncoder.decode
		}
		clients.a.heartbeat.outgoing = 20000; // client will send heartbeats every 20000ms
		clients.a.heartbeat.incoming = 0;
		clients.a.connect({}, function(evt) {
		});

		var delayMillis = 2000; //1 second
		var subscriptions = {};
		setTimeout(function() {
			subscriptions = {
				indicator : clients.a.subscribe("/topic/muse-indicator", function(message) {
					if (message.body) {
						body = jsonEncoder.decode(message.body);
						console.log(body);
						switch (body.physicalStatus) {
							case "GOOD" :
								$("#physical-indicator").removeClass("glyphicon-remove-circle");
								$("#physical-indicator").addClass("glyphicon-ok-circle");
								console.log("GOOD");
								break;
							case "EMERGENCY" :
								$.notify("FALL OCCURRING", {
									className : "error",
									position : "right bottom"
								});
								$("#physical-indicator").removeClass("glyphicon-ok-circle");
								$("#physical-indicator").addClass("glyphicon-remove-circle");
								console.log("EMERGENCY");
								break;
							default :
								console.log("Uncaught status: " + body.physicalStatus);
						}

						switch (body.mentalStatus) {
							case "GOOD" :
								$("#mental-indicator").removeClass("glyphicon-remove-circle");
								$("#mental-indicator").addClass("glyphicon-ok-circle");
								console.log("GOOD");
								break;
							case "EMERGENCY" :
								$.notify("SEIZURE OCCURRING", {
									className : "error",
									position : "right bottom"
								});
								$("#mental-indicator").removeClass("glyphicon-ok-circle");
								$("#mental-indicator").addClass("glyphicon-remove-circle");
								console.log("EMERGENCY");
								break;
							default :
								console.log("Uncaught status: " + body.physicalStatus);
						}
					}
				})
			};
		}, delayMillis);
	</script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>