<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Patient Information - <!-- TODO: Put patient name --></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Basheer Becerra" />

<!-- Google Fonts -->
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
	rel='stylesheet' type='text/css'></link>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link href="../static/css/navbar-fixed-side.css"
	th:href="@{/css/navbar-fixed-side.css}" rel="stylesheet"></link>
<link href="../static/css/custom.css" th:href="@{/css/custom.css}"
	rel="stylesheet"></link>
<link href="../static/css/line-graph.css"
	th:href="@{/css/line-graph.css}" rel="stylesheet"></link>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>


<style> /* set the CSS */
body {
	font: 12px Arial;
}

path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path, .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

div[id*="graph"] {
	width: 80%;
	margin: auto;
}

#emergency-statuses {
	width: 80% !important;
	margin: auto;
}

.table-row {
	width: 80%;
	margin: auto;
}
</style>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-2">
				<nav class="navbar navbar-inverse navbar-fixed-side">
					<div class="container">
						<div class="navbar-header">
							<button class="navbar-toggle" data-target=".navbar-collapse"
								data-toggle="collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="./">Basheer Becerra</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">Patients <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Basheer Becerra</a></li>
									</ul></li>
							</ul>
							<p class="navbar-text">
								Muse Monitor by <a href="http://www.basheerbecerra.com">Basheer
									Becerra</a>
							</p>
						</div>
					</div>
				</nav>
			</div>
			<div class="col-sm-9 col-lg-10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-3 text-center">
								<img src="../static/img/profile.png"
									th:src="@{/img/profile.png}" class="profile-img" />
							</div>
							<div class="col-sm-5">
								<h1>Basheer Becerra</h1>
								<p style="font-size: 1.2em;">Room A104</p>
							</div>
							<div class="col-sm-4 text-center">
								<div class="row">
									<div class="col-sm-6">Mental Status</div>
									<div class="col-sm-6">Physical Status</div>
								</div>
								<div class="row" style="padding-top: 10px;">
									<div class="col-sm-6">
										<span class="glyphicon glyphicon-ok-circle muse-indicator"
											id="mental-indicator" aria-hidden="true"></span>
									</div>
									<div class="col-sm-6">
										<span class="glyphicon glyphicon-ok-circle muse-indicator"
											id="physical-indicator" aria-hidden="true"></span>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row table-row">
							<table id="emergency-statuses">
								<thead>
									<tr>
										<th>TIME</th>
										<th>STATUS</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div id="accel-mag-graph"></div>
						</div>
						<div class="row">
							<div id="gyro-mag-graph"></div>
						</div>
						<div class="row">
							<div id="eeg-graph"></div>
						</div>
					</div>
					<div class="panel-footer">Panel footer</div>
				</div>
				<div class="row"></div>


			</div>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- load the d3.js library -->
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="../static/node_modules/webstomp-client/dist/webstomp.min.js"
		th:src="@{/node_modules/webstomp-client/dist/webstomp.min.js}"></script>
	<script>
		var t = $('#emergency-statuses').DataTable({
			aaSorting : [[0, 'des']]
		})
	</script>
	<script>
		// ACCELERATION MAGNITUDE
		var accel_mag_data = [{
			name : 'Magnitude',
			y : [],
			mode : 'lines',
			marker : {
				color : 'red',
				size : 8
			},
			line : {
				width : 4
			}
		}];
		Plotly.plot('accel-mag-graph', accel_mag_data, {
			title : "Acceleration Magnitude",
			xaxis : {
				range : [0, 50]
			},
			yaxis : {
				title : "Value",
				range : [0.75, 1.5]
			}
		});

		// GYROSCOPE MAGNITUDE
		var gyro_mag_data = [{
			name : 'Magnitude',
			y : [],
			mode : 'lines',
			marker : {
				color : 'blue',
				size : 8
			},
			line : {
				width : 4
			}
		}];
		Plotly.plot('gyro-mag-graph', gyro_mag_data, {
			title : 'Gyroscope Magnitude',
			xaxis : {
				range : [0, 50]
			},
			yaxis : {
				title : "Value",
				range : [0, 200]
			}
		});

		// EEG MAGNITUDE
		var eeg_data = [{
			name : 'EEG_1',
			y : [],
			mode : 'lines',
			marker : {
				color : 'blue',
				size : 8
			},
			line : {
				width : 4
			}
		}, {
			name : 'EEG_2',
			y : [],
			mode : 'lines',
			marker : {
				color : 'red',
				size : 8
			},
			line : {
				width : 4
			}
		}, {
			name : 'EEG_3',
			y : [],
			mode : 'lines',
			marker : {
				color : 'pink',
				size : 8
			},
			line : {
				width : 4
			}
		}, {
			name : 'EEG_4',
			y : [],
			mode : 'lines',
			marker : {
				color : 'green',
				size : 8
			},
			line : {
				width : 4
			}
		}, {
			name : 'AUX_LEFT',
			y : [],
			mode : 'lines',
			marker : {
				color : 'orange',
				size : 8
			},
			line : {
				width : 4
			}
		}, {
			name : 'AUX_RIGHT',
			y : [],
			mode : 'lines',
			marker : {
				color : 'purple',
				size : 8
			},
			line : {
				width : 4
			}
		}];
		Plotly.plot('eeg-graph', eeg_data, {
			title : 'EEG Data',
			xaxis : {
				range : [0, 50]
			},
			yaxis : {
				title : "Value",
				range : [-200, 200]
			}
		});

		// TODO: Get this resizing working...
		//window.onresize = function(gd) {
		//	Plotly.Plots.resize(gd); // TODO: Where's gd coming from?
		//};
	</script>
	<script type="text/javascript">
		// TODO: Heartbeat implementation
		//<![CDATA[
		var url = "wss://muse-monitor-socketserver.herokuapp.com/muse-ws";
		var clients = {
			a : webstomp.client(url)
		}

		var jsonEncoder = {
			encode : function(msg) {
				return JSON.stringify(msg);
			},
			decode : function(msg) {
				return JSON.parse(msg);
			}
		};
		var encoder = {
			encode : jsonEncoder.encode,
			decode : jsonEncoder.decode
		}
		clients.a.heartbeat.outgoing = 20000; // client will send heartbeats every 20000ms
		clients.a.heartbeat.incoming = 0;
		clients.a.connect({}, function(evt) {
		});

		var delayMillis = 2000; //1 second
		var subscriptions = {};
		var cnt = 0;
		var data_holder = {
				accel_data_holder : [[]],
				gyro_data_holder : [[]],
				eeg_data_holder : [[], [], [], [], [], []]
			}
		setTimeout(function() {
			subscriptions = {
				indicator : clients.a.subscribe("/topic/muse-verbose", function(message) {
					if (message.body) {
						body = jsonEncoder.decode(message.body);
						accel_point = body.accelerometerData[0];
						gyro_point = body.gyroscopeData[0];
						eeg_point = body.eegData[0];
						//console.log(body); 
						if (cnt % 1 == 0) {
							// ADD ALL DATA TO DATA HOLDER
							data_holder.accel_data_holder[0].push(Math.sqrt(Math.pow(accel_point.accelX, 2) + Math.pow(accel_point.accelY, 2) + Math.pow(accel_point.accelZ, 2)));
							data_holder.gyro_data_holder[0].push(Math.sqrt(Math.pow(gyro_point.gyroX, 2) + Math.pow(gyro_point.gyroY, 2) + Math.pow(gyro_point.gyroZ, 2)));
							data_holder.eeg_data_holder[0].push(eeg_point.eeg1);
							data_holder.eeg_data_holder[1].push(eeg_point.eeg2);
							data_holder.eeg_data_holder[2].push(eeg_point.eeg3);
							data_holder.eeg_data_holder[3].push(eeg_point.eeg4);
							data_holder.eeg_data_holder[4].push(eeg_point.auxLeft);
							data_holder.eeg_data_holder[5].push(eeg_point.auxRight);

							// REFRESH PLOTLY GRAPHS
							if (cnt % 20 == 0) {
								var x_range = 100;

								// ADD TO ACCELLERATION
								Plotly.extendTraces('accel-mag-graph', {
									y : data_holder.accel_data_holder
								}, [0]);
								accel_mag_data[0].y = accel_mag_data[0].y.slice(Math.max(accel_mag_data[0].y.length - x_range, 0));
								Plotly.relayout("accel-mag-graph", {
									xaxis : {
										range : [accel_mag_data[0].y.length - x_range, accel_mag_data[0].y.length]
									}
								});

								// ADD TO GYRO
								Plotly.extendTraces('gyro-mag-graph', {
									y : data_holder.gyro_data_holder
								}, [0]);
								gyro_mag_data[0].y = gyro_mag_data[0].y.slice(Math.max(gyro_mag_data[0].y.length - x_range, 0));
								Plotly.relayout("gyro-mag-graph", {
									xaxis : {
										range : [gyro_mag_data[0].y.length - x_range, gyro_mag_data[0].y.length]
									}
								});

								// ADD TO EEG
								// TODO: Do rest of traces + independent axis
								Plotly.extendTraces('eeg-graph', {
									y : data_holder.eeg_data_holder
								}, [0, 1, 2, 3, 4, 5]);
								eeg_data[0].y = eeg_data[0].y.slice(Math.max(eeg_data[0].y.length - x_range, 0));
								eeg_data[1].y = eeg_data[1].y.slice(Math.max(eeg_data[1].y.length - x_range, 0));
								eeg_data[2].y = eeg_data[2].y.slice(Math.max(eeg_data[2].y.length - x_range, 0));
								eeg_data[3].y = eeg_data[3].y.slice(Math.max(eeg_data[3].y.length - x_range, 0));
								eeg_data[4].y = eeg_data[4].y.slice(Math.max(eeg_data[4].y.length - x_range, 0));
								eeg_data[5].y = eeg_data[5].y.slice(Math.max(eeg_data[5].y.length - x_range, 0));
								Plotly.relayout("eeg-graph", {
									xaxis : {
										range : [eeg_data[0].y.length - x_range, eeg_data[0].y.length]
									}
								});
								
								// REFRESH THE DICT
								data_holder.accel_data_holder = [[]];
								data_holder.gyro_data_holder = [[]];
								data_holder.eeg_data_holder = [[], [], [], [], [], []];
							}
						}
						cnt++;
					}
				}),
				indicator : clients.a.subscribe("/topic/muse-indicator", function(message) {
					if (message.body) {
						body = jsonEncoder.decode(message.body);
						console.log(body);
						switch (body.physicalStatus) {
							case "GOOD" :
								$("#physical-indicator").removeClass("glyphicon-remove-circle");
								$("#physical-indicator").addClass("glyphicon-ok-circle");
								console.log("GOOD");
								break;
							case "EMERGENCY" :
								$("#physical-indicator").removeClass("glyphicon-ok-circle");
								$("#physical-indicator").addClass("glyphicon-remove-circle");
								var date = new Date(body.timeMillis);
								var sign = "AM";
								var hours = date.getHours();
								if (hours > 12) {
									sign = "PM";
									hours = hours - 12;
								}

								var minutes = "";
								if (date.getMinutes() < 10) {
									minutes = "0" + date.getMinutes();
								} else {
									minutes = date.getMinutes();
								}
								t.row.add([hours + ":" + minutes + sign, "PHYSICAL EMERGENCY"]).draw(false);
								console.log("EMERGENCY");
								break;
							default :
								console.log("Uncaught status: " + body.physicalStatus);
						}
					}
				})
			};
		}, delayMillis);
		//]]>
	</script>
</body>
</html>