<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Patient Information - <!-- TODO: Put patient name --></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Basheer Becerra" />

<!-- Google Fonts -->
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
	rel='stylesheet' type='text/css'></link>

<!-- Bootstrap  -->
<link rel="stylesheet" href="css/bootstrap.css"></link>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<h1>STATUS: </h1>
	<p id="status"></p>





	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		th:src="@{node_modules/webstomp-client/dist/webstomp.min.js}"></script>
	<script type="text/javascript">
		// TODO: Heartbeat implementation
		var url = "wss://muse-monitor-socketserver.herokuapp.com/muse-ws";
		var clients = {
			a : webstomp.client(url)
		}

		var jsonEncoder = {
			encode : function(msg) {
				return JSON.stringify(msg);
			},
			decode : function(msg) {
				return JSON.parse(msg);
			}
		};
		var encoder = {
			encode : jsonEncoder.encode,
			decode : jsonEncoder.decode
		}
		clients.a.heartbeat.outgoing = 20000; // client will send heartbeats every 20000ms
		clients.a.heartbeat.incoming = 0;
		clients.a.connect({}, function(evt) {
		});

		var delayMillis = 2000; //1 second
		var subscriptions = {};
		setTimeout(function() {
			subscriptions = {
				indicator : clients.a.subscribe("/topic/muse-indicator",
						function(message) {
							if (message.body) {
								body = jsonEncoder.decode(message.body);
								console.log(body);
								switch (body.physicalStatus) {
								case "GOOD":
									$("#status").text("GOOD");
									break;
								case "EMERGENCY":
									$("#status").text("EMERGENCY");
									break;
								default:
									console.log("Uncaught status: "
											+ body.physicalStatus);
								}
							}
						})
			};
		}, delayMillis);
	</script>
</body>
</html>