<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Patient Information - <!-- TODO: Put patient name --></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Basheer Becerra" />

<!-- Google Fonts -->
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
	rel='stylesheet' type='text/css'></link>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<link href="../static/css/navbar-fixed-side.css"
	th:href="@{/css/navbar-fixed-side.css}" rel="stylesheet"></link>
<link href="../static/css/custom.css" th:href="@{/css/custom.css}"
	rel="stylesheet"></link>
<link href="../static/css/line-graph.css"
	th:href="@{/css/line-graph.css}" rel="stylesheet"></link>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>


<style> /* set the CSS */
body {
	font: 12px Arial;
}

path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path, .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
</style>
<body>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>



	<div id="accel-graph"></div>
	<!-- load the d3.js library -->
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript"
		src="../static/node_modules/webstomp-client/dist/webstomp.min.js"
		th:src="@{/node_modules/webstomp-client/dist/webstomp.min.js}"></script>
	<script>
		function rand() {
			return Math.random();
		}

		var accel_data =  [ {
			y : [],
			mode : 'lines',
			marker : {
				color : 'pink',
				size : 8
			},
			line : {
				width : 4
			}
		}, {
			y : [],
			mode : 'lines',
			marker : {
				color : 'gray',
				size : 8
			},
			line : {
				width : 4
			}
		},  {
			y : [],
			mode : 'lines',
			marker : {
				color : 'blue',
				size : 8
			},
			line : {
				width : 4
			}
		} ]
		Plotly.plot('accel-graph', accel_data, {
			xaxis: {range: [0, 50]}
		});
	</script>
	<script type="text/javascript">
		// TODO: Heartbeat implementation
		var url = "wss://muse-monitor-socketserver.herokuapp.com/muse-ws";
		var clients = {
			a : webstomp.client(url)
		}

		var jsonEncoder = {
			encode : function(msg) {
				return JSON.stringify(msg);
			},
			decode : function(msg) {
				return JSON.parse(msg);
			}
		};
		var encoder = {
			encode : jsonEncoder.encode,
			decode : jsonEncoder.decode
		}
		clients.a.heartbeat.outgoing = 20000; // client will send heartbeats every 20000ms
		clients.a.heartbeat.incoming = 0;
		clients.a.connect({}, function(evt) {
		});

		var delayMillis = 2000; //1 second
		var subscriptions = {};
		var cnt = 0;
		setTimeout(function() {
			subscriptions = {
				indicator : clients.a.subscribe("/topic/muse-verbose",
						function(message) {
							if (message.body) {
								body = jsonEncoder.decode(message.body);
								// TODO: Temporarily choose the accelX for testing
								data_point = body.accelerometerData[0];
								//console.log(body); 
								if (cnt % 8 == 0) {
									Plotly.extendTraces('accel-graph', {
										y : [ [ data_point.accelX ],
												[ data_point.accelY ], [data_point.accelZ] ]
									}, [ 0, 1, 2 ]);
									Plotly.relayout("accel-graph", {xaxis: {range: [accel_data[0].y.length - 50, accel_data[0].y.length]}});
								}
								cnt++;
							}
						})
			};
		}, delayMillis);
	</script>
</body>
</html>